.my-form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.9 !important;
    height: 32px !important;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.my-form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #183980;
    outline: 0;
}

.input-w-icon i {
    position: absolute;
}

.paginator {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: static;
    width: 1035px;
    height: 40px;
    left: 0px;
    top: 493px;
    /* Neutral/Gray 7 */
    background: #FFFFFF;
    /* Neutral/Gray 5 */
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 26px 0px;
}

.paginator-content {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1019px;
    height: 24px;
    left: 8px;
    top: 8px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 59px;
}

.paginator-number-section {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 548px;
    height: 24px;
    left: 235.5px;
    top: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 59px;
}

.paginator-page-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    position: static;
    width: 23px;
    height: 24px;
    left: 525px;
    top: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 15;
    flex-grow: 0;
    margin: 0px 12px;
    cursor: pointer;
}