.container {
    width: 80%;
    margin: auto;
}

h3 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #183980;
}

table {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

thead>tr>th {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #4F4F4F;
    text-align: left;
}

tbody>tr>td {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #03245C;
    padding-left: 0px !important;
}

.paginator {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: static;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 493px;
    /* Neutral/Gray 7 */
    background: #FFFFFF;
    /* Neutral/Gray 5 */
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 26px 0px;
}

.paginator-content {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 100%;
    height: 24px;
    left: 8px;
    top: 8px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 59px;
}

.paginator-number-section {
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 50%;
    height: 24px;
    left: 235.5px;
    top: 0px;
    /* Inside Auto Layout */
    flex: none;
    flex-grow: 0;
    margin: 0px 59px;
}

.paginator-page-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    position: static;
    width: 16px;
    top: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 15;
    flex-grow: 0;
    margin: 0px 12px;
    cursor: pointer;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    /* Neutral/Gray 3 */
    color: #828282;
}

.paginator-page-number.active {
    background-color: #DCE6FF;
}

.paginator-icon {
    padding-top: 5px;
    flex: none;
    flex-grow: 0;
    margin-right: 10px;
    color: rgb(102, 102, 104);
    font-size: 12px;
    cursor: pointer;
}